products {
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    background-color: #ffbbe1;
    color: black;
}

product {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 16px;
}

product:hover {
    background-color:#ffa7d9;
    color:white;
}

name {
    color: black;
    font-size: 25px;
    font-weight: bold;
}

price:before {
    content: "$";
}

category {
    font-style: italic;
}

category:first-child:before {
    content: "Tagged: ";
}

category:after {
    content: ";";
}

category:last-child:after {
    content: " ";
}